# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/presiujv/prestigevisas.in"
PassengerBaseURI "/"
PassengerNodejs "/home/presiujv/nodevenv/prestigevisas.in/18/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
